@model Pizza_Relationship_Database_5_5.Models.ToppingsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ToppingsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToppingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToppingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PizzaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PizzaID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ToppingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
