@model IEnumerable<Pizza_Relationship_Database_5_5.Models.ToppingsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToppingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PizzaID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToppingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PizzaID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ToppingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ToppingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ToppingID })
        </td>
    </tr>
}

</table>
